@use "basic.scss";
@use "grid";
@use "owl.carousel.scss";

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #1D1E1E 0%, #221D21 23.6%, #242120 35.33%, #282427 48.85%, #1E1E21 65.51%, #1F1E1C 83.03%, #1D1E1E 96.58%);

  &.no_scroll {
    overflow: hidden;
  }
}

.img_wrap {
  flex: none;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.container {
  max-width: 956px !important;
}

header {
  margin-left: auto;
  margin-right: auto;
}

main {
  flex: 1 1 auto;
  min-height: auto;
  max-width: 100vw;
  overflow: hidden;
}

.video_wrap {
  height: calc(100vh - 96px);
  margin-left: auto;
  margin-right: auto;
  background-color: #262629;
}

 .one_line {
  cursor: pointer;
 }

 @keyframes aniamte_down {
  0% {transform: translateY(10px);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(10px);}
}

.aniamte_down {
  animation: aniamte_down 2s infinite;
 }

@keyframes aniamte_opacity {
  0% {opacity: 100%;}
  50% {opacity: 0%;}
  100% {opacity: 100%;}
}

.animate_round_4 {
  animation: aniamte_opacity 2.5s infinite;
 }

 .animate_round_3 {
  animation: aniamte_opacity 2.5s 0.3s infinite;
 }

 .animate_round_2 {
  animation: aniamte_opacity 2.5s 0.6s infinite;
 }

 .animate_round_1 {
  animation: aniamte_opacity 2.5s 0.9s infinite;
 }

 .blur_10 {
  filter: blur(10px);
 }

 .owl-prev, .owl-next {
  &.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
 }
