@font-face {
  font-family: "Volja";
  src: url("../assets/fonts/volja-regular.woff2") format("woff2");
}
@font-face {
  font-family: "kharkiv";
  src: url("../assets/fonts/Kharkiv Tone.ttf") format("woff2");
}
@font-face {
  font-family: "Unbounded";
  src: url("../assets/fonts/Unbounded-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Unbounded";
  src: url("../assets/fonts/Unbounded-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Unbounded";
  src: url("../assets/fonts/Unbounded-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Unbounded";
  src: url("../assets/fonts/Unbounded-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "KyivTypeSans";
  src: url("../assets/fonts/KyivTypeSans-Thin.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "KyivTypeSans";
  src: url("../assets/fonts/KyivTypeSans-Regular-.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "KyivTypeSans";
  src: url("../assets/fonts/KyivTypeSans-Medium2.woff2") format("woff2");
  font-weight: 500;
}
html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
}

body {
  margin: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 500;
}

img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background-color: transparent;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

html,
body,
main {
  min-height: 100vh;
}

main {
  display: block;
  height: auto;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea:focus,
input:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a p,
a span,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  cursor: pointer;
}

.clear {
  clear: both;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

[class*=col_] {
  flex: none;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 1;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.col_1 {
  min-width: 8.3333333333%;
  max-width: 8.3333333333%;
  flex-basis: 8.3333333333%;
}

.col_2 {
  min-width: 16.6666666667%;
  max-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}

.col_3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}

.col_4 {
  min-width: 33.3333333333%;
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}

.col_5 {
  min-width: 41.6666666667%;
  max-width: 41.6666666667%;
  flex-basis: 41.6666666667%;
}

.col_6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}

.col_7 {
  min-width: 58.3333333333%;
  max-width: 58.3333333333%;
  flex-basis: 58.3333333333%;
}

.col_8 {
  min-width: 66.6666666667%;
  max-width: 66.6666666667%;
  flex-basis: 66.6666666667%;
}

.col_9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}

.col_10 {
  min-width: 83.3333333333%;
  max-width: 83.3333333333%;
  flex-basis: 83.3333333333%;
}

.col_11 {
  min-width: 91.6666666667%;
  max-width: 91.6666666667%;
  flex-basis: 91.6666666667%;
}

.col_12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}

@media (max-width: 767px) {
  .s_hide {
    display: none !important;
  }
  .s_show {
    display: flex !important;
    flex-direction: column;
  }
  .s_show_b {
    display: block !important;
  }
  .col_s_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_s {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .s_offset_1 {
    margin-left: calc((1 * (100% / 12)) - 16px);
  }
  .s_offset_2 {
    margin-left: calc((2 * (100% / 12)) - 16px);
  }
  .s_offset_3 {
    margin-left: calc((3 * (100% / 12)) - 16px);
  }
  .s_offset_4 {
    margin-left: calc((4 * (100% / 12)) - 16px);
  }
  .s_offset_5 {
    margin-left: calc((5 * (100% / 12)) - 16px);
  }
  .s_offset_6 {
    margin-left: calc((6 * (100% / 12)) - 16px);
  }
  .s_offset_7 {
    margin-left: calc((7 * (100% / 12)) - 16px);
  }
  .s_offset_8 {
    margin-left: calc((8 * (100% / 12)) - 16px);
  }
  .s_offset_9 {
    margin-left: calc((9 * (100% / 12)) - 16px);
  }
  .s_offset_10 {
    margin-left: calc((10 * (100% / 12)) - 16px);
  }
  .s_offset_11 {
    margin-left: calc((11 * (100% / 12)) - 16px);
  }
  .s_offset_12 {
    margin-left: calc((12 * (100% / 12)) - 16px);
  }
  .col_s_1 {
    min-width: 8.3333333333%;
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }
  .col_s_2 {
    min-width: 16.6666666667%;
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }
  .col_s_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_s_4 {
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }
  .col_s_5 {
    min-width: 41.6666666667%;
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }
  .col_s_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_s_7 {
    min-width: 58.3333333333%;
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }
  .col_s_8 {
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }
  .col_s_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_s_10 {
    min-width: 83.3333333333%;
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }
  .col_s_11 {
    min-width: 91.6666666667%;
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }
  .col_s_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .m_hide {
    display: none !important;
  }
  .m_show {
    display: flex !important;
    flex-direction: column;
  }
  .m_show_b {
    display: block !important;
  }
  .col_m_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_m {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .m_offset_1 {
    margin-left: calc((1 * (100% / 12)) - 16px);
  }
  .m_offset_2 {
    margin-left: calc((2 * (100% / 12)) - 16px);
  }
  .m_offset_3 {
    margin-left: calc((3 * (100% / 12)) - 16px);
  }
  .m_offset_4 {
    margin-left: calc((4 * (100% / 12)) - 16px);
  }
  .m_offset_5 {
    margin-left: calc((5 * (100% / 12)) - 16px);
  }
  .m_offset_6 {
    margin-left: calc((6 * (100% / 12)) - 16px);
  }
  .m_offset_7 {
    margin-left: calc((7 * (100% / 12)) - 16px);
  }
  .m_offset_8 {
    margin-left: calc((8 * (100% / 12)) - 16px);
  }
  .m_offset_9 {
    margin-left: calc((9 * (100% / 12)) - 16px);
  }
  .m_offset_10 {
    margin-left: calc((10 * (100% / 12)) - 16px);
  }
  .m_offset_11 {
    margin-left: calc((11 * (100% / 12)) - 16px);
  }
  .m_offset_12 {
    margin-left: calc((12 * (100% / 12)) - 16px);
  }
  .col_m_1 {
    min-width: 8.3333333333%;
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }
  .col_m_2 {
    min-width: 16.6666666667%;
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }
  .col_m_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_m_4 {
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }
  .col_m_5 {
    min-width: 41.6666666667%;
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }
  .col_m_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_m_7 {
    min-width: 58.3333333333%;
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }
  .col_m_8 {
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }
  .col_m_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_m_10 {
    min-width: 83.3333333333%;
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }
  .col_m_11 {
    min-width: 91.6666666667%;
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }
  .col_m_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width: 1024px) {
  .l_hide {
    display: none !important;
  }
  .l_show {
    display: flex !important;
    flex-direction: column;
  }
  .l_show_b {
    display: block !important;
  }
  .col_l_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_l {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .l_offset_1 {
    margin-left: calc((1 * (100% / 12)) - 16px);
  }
  .l_offset_2 {
    margin-left: calc((2 * (100% / 12)) - 16px);
  }
  .l_offset_3 {
    margin-left: calc((3 * (100% / 12)) - 16px);
  }
  .l_offset_4 {
    margin-left: calc((4 * (100% / 12)) - 16px);
  }
  .l_offset_5 {
    margin-left: calc((5 * (100% / 12)) - 16px);
  }
  .l_offset_6 {
    margin-left: calc((6 * (100% / 12)) - 16px);
  }
  .l_offset_7 {
    margin-left: calc((7 * (100% / 12)) - 16px);
  }
  .l_offset_8 {
    margin-left: calc((8 * (100% / 12)) - 16px);
  }
  .l_offset_9 {
    margin-left: calc((9 * (100% / 12)) - 16px);
  }
  .l_offset_10 {
    margin-left: calc((10 * (100% / 12)) - 16px);
  }
  .l_offset_11 {
    margin-left: calc((11 * (100% / 12)) - 16px);
  }
  .l_offset_12 {
    margin-left: calc((12 * (100% / 12)) - 16px);
  }
  .col_l_1 {
    min-width: 8.3333333333%;
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }
  .col_l_2 {
    min-width: 16.6666666667%;
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }
  .col_l_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_l_4 {
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }
  .col_l_5 {
    min-width: 41.6666666667%;
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }
  .col_l_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_l_7 {
    min-width: 58.3333333333%;
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }
  .col_l_8 {
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }
  .col_l_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_l_10 {
    min-width: 83.3333333333%;
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }
  .col_l_11 {
    min-width: 91.6666666667%;
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }
  .col_l_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden; /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #1D1E1E 0%, #221D21 23.6%, #242120 35.33%, #282427 48.85%, #1E1E21 65.51%, #1F1E1C 83.03%, #1D1E1E 96.58%);
}
body.no_scroll {
  overflow: hidden;
}

.img_wrap {
  flex: none;
  overflow: hidden;
}
.img_wrap img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  max-width: 956px !important;
}

header {
  margin-left: auto;
  margin-right: auto;
}

main {
  flex: 1 1 auto;
  min-height: auto;
  max-width: 100vw;
  overflow: hidden;
}

.video_wrap {
  height: calc(100vh - 48px);
  margin-left: auto;
  margin-right: auto;
  background-color: #2b2b2e;
}

.one_line {
  cursor: pointer;
}

@keyframes aniamte_down {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
.aniamte_down {
  animation: aniamte_down 2s infinite;
}

@keyframes aniamte_opacity {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.animate_round_4 {
  animation: aniamte_opacity 2.5s infinite;
}

.animate_round_3 {
  animation: aniamte_opacity 2.5s 0.3s infinite;
}

.animate_round_2 {
  animation: aniamte_opacity 2.5s 0.6s infinite;
}

.animate_round_1 {
  animation: aniamte_opacity 2.5s 0.9s infinite;
}

.blur_10 {
  filter: blur(10px);
}

.owl-prev.disabled, .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}
